.emptyList{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.emptyList svg {
  width: 4rem;
}

.emptyList strong {
  margin-top: 1.5rem;
}

.emptyList p {
  margin-top: 0.25rem;
}