.container{
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  background: var(--gray500);
  justify-content: space-between;
  margin-bottom: 1rem;
}

.checkBox{
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.container button {
  border: 0;
  background: transparent;
  color: var(--gray300);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
}
.container button:hover{
  color: var(--danger);
}

