.container{
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--gray400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  background: var(--gray500);
  justify-content: space-between;
  margin-bottom: 1rem;
}

.container input[type="checkbox"] {
  height: 1.15rem;
  width: 1.15rem;
  background: var(--gray500);
  border: 2px solid var(--blue);
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
  transition: border 0.2s, color 0.4s;
}
.container input[type="checkbox"]:checked {
  color: var(--white);
  font-size: 18px;
  background: var(--purpleDark) url("../assets/check.svg") center no-repeat;
  background-size: 1rem;
  border: 2px solid var(--purpleDark);
}

.container button {
  border: 0;
  background: transparent;
  color: var(--gray300);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
}
.container button:hover{
  color: var(--danger);
}

.taskChecked {
  line-height: var(--line-height);
  color: var(--gray-300);
  text-decoration: line-through;
}

.taskUnchecked {
  line-height: 1.4;
  color: var(--gray100);
}

