.inputGroup{
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
} 

.inputGroup input{
  flex: 0.5;
  padding: 1rem;
  border: 1px solid var(--gray700);
  background: var(--gray500);
  border-radius: 8px;
  outline: none;
  color: var(--gray500);
  line-height: 1.4;
  height: 3.375rem;
  margin-top: -2rem;
  z-index: 1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.inputGroup button{
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding: 1rem;
  font-weight: bold;
  border: 1px solid var(--gray700);
  background: var(--blueDark);
  border-radius: 8px;
  outline: none;
  color: var(--white);
  line-height: 1.4;
  height: 3.375rem;
  margin-top: -1.9rem;
  z-index: 1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s;
}

.inputGroup button:hover{
  background: var(--blue);
}

.inputGroup button svg{
  margin-left: 0.5rem;
}

.resume{
  margin-top: 3rem;
}

.tasks{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 778px;
}